name: coverage

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

concurrency:
  group: ${{ github.ref }}-coverage
  cancel-in-progress: true

jobs:
  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools
      - uses: taiki-e/install-action@cargo-llvm-cov
      - run: |
          cargo llvm-cov clean --workspace
          cargo llvm-cov --no-report --no-default-features --package http-cache --features manager-cacache,with-http-types,manager-moka,streaming-tokio,url-standard
          cargo llvm-cov --no-report --no-default-features --package http-cache --features manager-foyer,with-http-types,streaming-tokio,url-standard
          cargo llvm-cov --no-report --package http-cache-surf --no-default-features --features manager-cacache,manager-moka,manager-foyer,rate-limiting,http-headers-compat,url-standard
          cargo llvm-cov --no-report --package http-cache-ureq --no-default-features --features manager-cacache,url-standard
          cargo llvm-cov --no-report --package http-cache-ureq --no-default-features --features manager-cacache,manager-moka,manager-foyer,json,rate-limiting,http-headers-compat,url-standard
          cargo llvm-cov --no-report --package http-cache-reqwest --no-default-features --features manager-cacache,manager-moka,manager-foyer,streaming,rate-limiting,http-headers-compat,url-standard
          cargo llvm-cov --no-report --package http-cache-tower --no-default-features --features manager-cacache,manager-moka,manager-foyer,streaming,rate-limiting,http-headers-compat,url-standard
          cargo llvm-cov --no-report --package http-cache-quickcache --no-default-features --features http-headers-compat,url-standard
          cargo llvm-cov report --lcov --output-path lcov.info
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          fail_ci_if_error: false
